* {
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
}

.col-md-3 {
    width: 100%;
}

p {
    font-weight: bold;
    font-size: 15px;
    display: flex;
    padding: 10px 20px 0px 20px;
    margin-right: 10px;
    gap: 10px;
    cursor: default;
}

.numb {
    flex: 1;
}

.size {
    flex: 1;
}

.name {
    flex: 3;
}

.btn-danger {
    padding: 2px 5px 0;
    opacity: 0.4;
    height: 25px;
}

.btn-danger:hover {
    opacity: 1;
    transform: scale(1.1);
}

.hidden {
    visibility: hidden;
}

.btn {
    margin: 10px 0 0 15px;
}

.btn-primary {
    padding: 2px 7px;
    background: rgb(64, 95, 143);
    border: none;
}

